.footer{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right top, #065a03, #0d5303, #114c04, #144604, #153f04, #143c03, #133a03, #123702, #0f3702, #0c3701, #083701, #043701);
    
    
}