.header-container {
    display: flex;
    background-image: linear-gradient(to right top, #065a03, #0d5303, #114c04, #144604, #153f04, #143c03, #133a03, #123702, #0f3702, #0c3701, #083701, #043701);
    text-decoration: none;
    margin-bottom: 75px;
    width: 100%;
    height: 50px;
    flex:1;
    position: fixed;

}
ul{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: space-between; 
    width: 100%;
    background-image: linear-gradient(to right top, #065a03, #0d5303, #114c04, #144604, #153f04, #143c03, #133a03, #123702, #0f3702, #0c3701, #083701, #043701);
    color: white;
    list-style: none;
    font-size: 28px;
    
   
}

.cookbook {
    font-size: 30px;
    margin-right: 20px;
    margin-top:10px;
    justify-self: flex-start;
    align-self: flex-start;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    color: white;
}
.cookbook:hover{
    color: gray;
    font-weight: 800;
}
.logo{
   
   
    width: 70px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.app-title {
    flex: 1;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
  
}

/* @media screen and (min-width: 600px) {
    .header-container{
      display: flex;
      justify-content: flex-start;
      justify-self: flex-start;
      flex-direction: row;
    }

.app-title {
    flex:1;
    justify-self: center;
    align-self: center;
    font-size: 30px;
  
}
} */