.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.banner{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: 98%;
    background-image: url('https://i.pinimg.com/originals/76/89/c5/7689c5513084cd3ae199cec4f9b84af3.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: 120px;

}

